body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(45deg, #ff6b6b, #4ecdc4, #45b7d1, #96ceb4);
  background-size: 400% 400%;
  animation: gradientShift 10s ease infinite;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes borderGlow {
  0% {
    border-color: transparent;
  }

  50% {
    border-color: rgb(146, 15, 247);
  }

  100% {
    border-color: transparent;
  }
}

.header {
  color: #333;
  font-size: 2rem;
  margin-bottom: 20px;
}

.input {
  padding: 10px 15px;
  font-size: 1rem;
  border: 2px solid #ddd;
  border-radius: 25px;
  outline: none;
  width: 300px;
  margin-bottom: 20px;
  transition: border-color 0.3s;
}

.input:focus {
  border-color: #4ecdc4;
}

.button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #4ecdc4;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
  translate: -25%;
}

.button:hover {
  background-color: #45b7d1;
}


.output {
  width: 80%;
  max-width: 600px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 1;
  transform: translateY(20px);
  transition: opacity 1s, transform 1s;

}


.output::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border: 2px solid transparent;
  border-radius: 12px;
  animation: borderGlow 2s infinite;
  z-index: -1;
}